/*CONTAINERS*/
body {
    font-family: sans-serif;
    line-height: 30px;
  }
  .full-width {
    max-width: 1362px;
    margin: auto;
    padding: 5px;
  }
  .partial-width {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
  }
  /*TEXT COLOR*/
  .text-white {
    color: white;
  }
  .text-salmon {
    color: #e2b162;
  }
  .text-lightgray {
    color: #818181;
  }