/*CONTAINERS*/
body {
  font-family: sans-serif;
  line-height: 30px;
}
.full-width {
  max-width: 1362px;
  margin: auto;
  padding: 5px;
}
.partial-width {
  max-width: 1000px;
  margin: auto;
  padding: 5px;
}
/*TEXT COLOR*/
.text-white {
  color: white;
}
.text-salmon {
  color: #e2b162;
}
.text-lightgray {
  color: #818181;
}
/*BACKGROUND COLOR*/
.back-white {
  background: white;
}
.back-lightgray {
  background: #f3f3f3;
}
/*SUB CONTAINERS*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col-1 {
  max-width: 100px;
}
.col-2 {
  max-width: 200px;
}
.col-3 {
  max-width: 300px;
}
.col-4 {
  max-width: 400px;
}
.col-5 {
  max-width: 500px;
}
.col-6 {
  max-width: 600px;
}
.col-7 {
  max-width: 700px;
}
.col-8 {
  max-width: 800px;
}
.col-9 {
  max-width: 900px;
}
.col-10 {
  max-width: 1000px;
}
.col-11 {
  max-width: 1100px;
}
.col-12 {
  max-width: 1200px;
}
/*HYPERLINKS*/
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 15px;
  }
  /*BUTTONS*/
  .btn-normal {
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 2px gray;
  }
  .btn-large {
    font-weight: bold;
    color: white;
    border: none;
    padding: 20px 70px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px gray;
  }
  .btn-lightblue {
    background: #6abfc3;
  }
  .btn-lightbrown {
    background: #d3a766;
  }
  .btn-green {
    background: lightgreen;
  }
  /*ALIGNMENT*/
  .center {
    text-align: center;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .justify {
    text-align: justify;
  }