
  .display-md-none {
    display: none;
}

  .col-md-7 {
    max-width: 700px;
  }
  .col-md-8 {
    max-width: 800px;
  }
  .col-md-9 {
    max-width: 900px;
  }
  .col-md-10 {
    max-width: 1000px;
  }