.story-item {
  margin: 50px 10px;
}
.success {
  background: linear-gradient(to top, #eeeeee, #fdfdfd);
}
#signup:hover {
  cursor: pointer;
}
.img-main {
  max-width: 1300px;
  width: 100%;
}
.developer_item {
  flex-basis: 30%;
  background: white;
  margin: 10px;
}
.developer_item img {
  width: 200px;
}
.parent-developer {
  background: #f3f3f3;
  width: 100%;
}
.story-image img {
  width: 50px;
  margin-right: 20px;
}
